# Great Expectations

## Instalando

In [ ]:
!pip install great_expectations

## Validando os dados

Validamos o conjunto de dados com a suíte de expectativas. 

Em seguida, verificamos se a validação foi bem-sucedida verificando o atributo success do objeto ExpectationValidationResult

### Validação de valores únicos em uma coluna

In [ ]:
import great_expectations as ge
import pandas as pd

# Criação de um dataframe com uma coluna "nome" que deve conter apenas valores únicos
df = pd.DataFrame({'nome': ['João', 'Maria', 'Joquim', 'Pedro', 'Ana']})
df.head()

In [ ]:
df_ge = ge.dataset.PandasDataset(df)

validation_result = df_ge.expect_column_values_to_be_unique(column='nome')

if validation_result['success']:
    print('A coluna nome contém apenas valores únicos')
else:
    print('A coluna nome possui valores duplicados')

Crie uma expectation que verifica se a coluna "codigo" contém apenas valores únicos.

Use a função ``expect_column_values_to_be_unique`` para definir essa expectativa

In [ ]:
# Criando um dataframe com uma coluna "codigo" que deve conter valores únicos
df = pd.DataFrame({'codigo': [1001, 1002, 1003, 1006, 1004, 1005]})
df_ge = ge.dataset.PandasDataset(df)

validation_result = df_ge.expect_column_values_to_be_unique(column='codigo')
validation_result

### Validação de valores mínimos e máximos em uma coluna numérica

In [ ]:
# Criação de um dataframe com uma coluna "idade" que deve conter valores numéricos entre 0 e 100
df = pd.DataFrame({'idade': [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105]})

result = ge.dataset.PandasDataset(df).expect_column_values_to_be_between(column='idade', min_value=0, max_value=107)

result

### Validação de formatos de data em uma coluna

In [ ]:
# Criação de um dataframe com uma coluna "data" que deve conter datas no formato 'YYYY-MM-DD'
df = pd.DataFrame({'data': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']})
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_values_to_match_regex(column='data', regex='^\d{4}-\d{2}-\d{2}$')

result

### Validação de valores nulos em uma coluna

Criaremos uma Expectation que verifica se a coluna "salario" não contém valores nulos

In [ ]:
# Criação de um dataframe com uma coluna "salario" que não deve conter valores nulos
df = pd.DataFrame({'salario': [2000, 2500, 3000, None, 4000, 4500]})

df_ge = ge.dataset.PandasDataset(df)

result = df_ge.expect_column_values_to_not_be_null(column='salario')
result

### Validação de formatos de string em uma coluna

Vamos criar uma Expectation que verifica se a coluna "cpf" contém apenas CPFs no formato 'XXX.XXX.XXX-XX'. 

Usaremos a função ``expect_column_values_to_match_regex`` para definir essa expectativa.

In [ ]:
import great_expectations as ge
import pandas as pd

# Criação de um dataframe com uma coluna "cpf" que deve conter CPFs no formato 'XXX.XXX.XXX-XX'
df = pd.DataFrame({'cpf': ['123.456.789-10', '234.567.890-12', '345.678.901-23', '456.789.012-34', '567.890.123-45']})
df_ge = ge.dataset.PandasDataset(df)

result = df_ge.expect_column_values_to_match_regex(column='cpf', regex='^\d{3}.\d{3}.\d{3}-\d{2}')
result

### Validação de valores numéricos em uma coluna

Use a função ``expect_column_values_to_be_between`` para verificar se a coluna "idade" contém apenas valores entre 18 e 60 anos.

Passamos os valores mínimo e máximo permitidos como argumentos. Em seguida, validamos o conjunto de dados com a suíte de expectativas e verificamos se a validação foi bem-sucedida.

In [ ]:
# Criação de um dataframe com uma coluna "idade" que deve conter valores entre 18 e 60 anos
df = pd.DataFrame({'idade': [25, 40, 50, 32, 18, 71, 72]})
df_ge = ge.dataset.PandasDataset(df)

result = df_ge.expect_column_values_to_be_between(column='idade', min_value=18, max_value=70)
result

### Validação de contagem de valores em uma coluna


Vamos criar um dataframe com uma coluna "cidade" e usar a função ``expect_column_unique_value_count_to_be_between`` para definir se a coluna "cidade" contém pelo menos 3 ocorrências de cada cidade. 

Em seguida, passamos um dicionário com os valores esperados de cada cidade e um valor mínimo e máximo de ocorrências permitidas.

In [ ]:
# Criação de um dataframe com uma coluna "cidade" que deve conter pelo menos 3 ocorrências de cada cidade
df = pd.DataFrame({'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Salvador']})
df.head()

In [ ]:
df_ge = ge.dataset.PandasDataset(df)

result = df_ge.expect_column_unique_value_count_to_be_between(column='cidade', min_value=2, max_value=3)
result

## Salve sua suíte Expectation

In [ ]:
import json

with open( "data/expectations.json", "w") as my_file:
    my_file.write(
        json.dumps(df.get_expectation_suite().to_json_dict())
    )

## Carregando dados

In [ ]:
import great_expectations as ge
import pandas as pd

df = ge.read_csv('data/us_tax_data_2016.csv')

In [ ]:
df.head()

## Definindo expectativas dos dados

In [ ]:
df.expect_column_values_to_be_in_set('zipcode', ['0'])

In [ ]:
df.expect_column_values_to_be_in_set('zipcode', [0], mostly=.001)

In [ ]:
df.expect_column_to_exist(column='mars1')

In [ ]:
df.expect_column_to_exist(column='mars3')

## Obtendo as Expectativas

In [ ]:
df.get_expectation_suite()

Por padrão, ``get_expectation_suite()`` retorna apenas Expectations com ``success=True``. 

Você pode substituir esse comportamento com:

In [ ]:
df.get_expectation_suite(discard_failed_expectations=False)

### Desafio

Crie um dataset contendo as seguites colunas:
    nome
    email
    telefone
    idade
    
expectativas:
    pelo menos 10% tem que ser maior de idade
    todos os emails devem ser sintaticamente validos
    os telefones devem possuir dd + 9 digitos
    
mostre todas as expectativas